@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(26,33,44);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #b8a276;
}

::-webkit-scrollbar-thumb {
    background-color: #8b4b4b;
}


.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
    background: rgba(187,255,187,0.5) !important;
}

.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
    background: rgba(255,187,187,0.5) !important;
    text-decoration: line-through;
}


.active-page {
    text-decoration: underline;
}

ul[role="navigation"] li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
}
